/*basic settings*/

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;  
    height: auto;
    background-color: #d8d8d8; 
    z-index: -10;  
    font-family: 'Roboto', sans-serif; 
}

* {box-sizing:border-box}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
  }


*,*:before, *:after {
    box-sizing: inherit;
}

.group:before,
.group:after {
    content: " ";
    display: table;
}
.group:after {
    clear: both;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 0.2em;
}

/*basic settings ends here*/

/*popup*/

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter:alpha(opacity=70);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
  }
  .cnt223 a{
  text-decoration: none;
  }
  .popup{
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
  }
  .cnt223{
  max-width: 600px;
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  }
  .cnt223 p{
  clear: both;
      color: #555555;
     
      font-size: 20px;
      font-family: 'Bangers', cursive;
  }
  .cnt223 p a{
  color: #d91900;
  font-weight: bold;
  letter-spacing: 0.2em;
  }
  .cnt223 .x{
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
  }
  .cnt223 .x:hover{
  cursor: pointer;
  }

/*navigation*/
.navbar {
    background-color: rgb(113, 114, 114);
opacity: 0.9;
    width: 100%;
    height: 70px;
    position: fixed;
    border-bottom: 2px solid rgb(199, 14, 14);

}

.navbar h2 {
    font-size: 2em;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px rgb(247, 244, 244);
    float: right;
    margin: 20px 20px 20px 5px;
    font-family: 'Bangers', cursive;
opacity: 1;
}

.logoImg {
    margin: 0 1%;
    opacity: 1;
}

/*background*/
.hero-image {
    background-image: url("../img/cleaning.jpg");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: -2;
  background-color: rgb(214, 214, 214);
}

.hero-text {
    text-align: inherit;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    
    font-family: 'Bangers', cursive;
    text-shadow: 2px 2px rgb(247, 38, 38);
    font-size: 2em;
    letter-spacing: 0.1em;
    opacity: 0.9;

  }

  .hero-text h2{
    color: rgb(194, 3, 3);
    text-shadow: 2px 2px rgb(0, 0, 0);
  }

/*features*/
.wrap,
.group {
    max-width: 1920px;   
}

.floatLeft,
.floatRight {
	width: 31%;
	float: left;
	margin: 2.6% 10px;
}

.image img {
    text-align: center;
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    width: 560px;
    height: 460px;
    max-width: 100%;
    
}

.text {
    font-family: 'Bangers', cursive;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-align: center;
    margin-left: auto 0;
}

/*Block */
h4 {
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    color: rgb(194, 3, 3);
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin-top: 0; 
}

.textleft p {
  font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    line-height: 1.3em;
}

.block {
    background-color: rgb(247, 239, 239);
}

.imgRight{
    height: auto;
    
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.imgRight img {
    float: right;
    border-radius: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    max-width: 760px;
    max-height: 560px;
    margin-left: 30px;
    margin-bottom: 2%;
}

.textleft { 
    padding-left: 20px; 
}

/*gallery*/

.galleryH2 h2 {
  font-family: 'Bangers', cursive;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 0.1em;
}

.row {
  background-color:rgb(247, 239, 239);
  padding-top: 1%;
  padding-bottom: 1%;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.closebtn {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: 2%;
  border-radius: 1%;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*footer*/

footer {

    width: auto;
    background-color: #d8d8d8;
    padding: 30px  10px 0;
    text-align: center;
    float: right;
  }
  
  footer,
  footer .menu a {
      color: rgb(93, 97, 100);
  }
  
  footer .menu a {
    font-size: 2em;
  }
  
  footer a:hover {
    color: #fff;
    transition: 0.3s all;
  }

  li {
    display: inline-block;
    margin-left: 2%;
    margin-right: 3%;
  }
  
.menu {
    width: 230px;
    padding: 0 auto;
    margin: 0 auto;
}

  ul {
    background-color: #d8d8d8;
    margin-top: -3px;
    
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: rgb(93, 97, 100);
    text-shadow: 2px 2px 2px gray;
  }

  .copy-right {
      font-size: 1em;
      float: right;
      margin-right: 5%;
  }

/*media queries*/

@media (max-width:1500px){
    .image img {
        width: 460px;
        height: 360px;
    }
}

@media (max-width:1300px){
    .image img {
        width: 360px;
        height: 250px;
    }
}

@media (max-width:1300px){
    .image img {
        width: 360px;
        height: 250px;
    }
}

@media (max-width:1350px){
    .imgRight img{
        display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
        float: none;
    }

    h4 {
      margin-top: 4%;
      margin-bottom: 3%;
    }

    .textleft{
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .imgRight {
        padding-right: 0;
        padding-bottom: 0;
    }
}

@media (max-width:880px){
    .floatLeft,
    .floatRight {
        width: 90%;
    }

    .image img {
        width: 460px;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text {
        border-bottom: 2px solid rgb(199, 14, 14);
    } 
}

@media (max-width:985px){
        .hero-text{
            font-size: 1.7em;
        }
    }
@media (max-width:660px){
        .hero-text{
            font-size: 1.2em;
        }

        .textleft p{
          font-size: 1.0em;
        }
    }

@media (max-width:660px){
    .navbar h2 {
        font-size: 1.2em;
        text-align: center;
    }
    .galleryH2 h2 {
      font-size: 1.5em;
    }

    .textleft h4 {
      font-size: 1.5em;
    }
    
  

@media screen and (max-width:660px) {
        img.responsiv {
            max-width: 50px;
            height: 50px; 
            margin: 0 auto;
      }
    }

    @media (max-width:655px) {
      .cnt223 {
        max-width: 430px;
        width: 430px;
        min-height: 150px;
        margin: 75px auto;
      }
    
      .cnt223 h1 {
        font-size: 2em;
      }
    
      .cnt223 p {
        font-size: 1.2em;
        
      }
    }

@media (max-width:500px) {
  .image img {
    width: 400px;
        height: 230px;
        
  }
}

@media (max-width:360px) {
  .cnt223 {
    max-width: 300px;
    width: 300px;
    min-height: 150px;
    margin: 50px auto;
  }

  .cnt223 h1 {
    font-size: 1.5em;
  }

  .cnt223 p {
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }
}

@media (max-width:360px){
        .navbar h2 {
            font-size: 1em;
            text-align: center;
        }

